body,
html {
  height: 100%;
}

#left-wrapper {
  background: #2e2f34;
  float: left;
  height: 100%;
  text-align: center;
  width: 220px;
}

#right-wrapper {
  background: #fff;
  float: left;
  height: 100%;
  overflow-y: auto;
  width: calc(100% - 220px);
}

.main {
  padding: 15px;
}

.dashboard-container {
  border: 2px solid #ddd;
  padding: 2px;
  min-width: 750px;
  max-width: 1200px;
  min-height: 110px;

  .dashboard {
    position: relative;
    display: block;

    :after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

$column-width: 12.5%;
$row-height: 100px;

.dashboard .widget-container {
  float: left;
  border: 1px solid #000;
  height: $row-height;
  width: $column-width;
  background-color: orange;
  cursor: move;
  position: relative;
  .number {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
  }
  .remove-widget {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
  }
}

.widget-container .widget {

}

@for $i from 1 through 4 {
  .dashboard .widget-container.w-#{$i} { width: $column-width * $i; }
}

@for $i from 1 through 4 {
  .dashboard .widget-container.h-#{$i} { height: $row-height * $i; }
}

.buttons {
  padding-top: 15px;
}

.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}



