<!DOCTYPE html>
<html lang="en" ng-app="testHttpApp">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="jquery/dist/jquery.js" type="text/javascript"></script>
  <script src="http://mfzy.co/packery.pkgd.js" type="text/javascript"></script>
  <script src="https://npmcdn.com/draggabilly@2/dist/draggabilly.pkgd.js" type="text/javascript"></script>
  <script src="bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
  <script src="angular/angular.min.js" type="text/javascript"></script>
  <script src="angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
  <script src="angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>

  <script src="js/packery-addon.js" type="text/javascript"></script>
  <script src="js/app.js" type="text/javascript"></script>
  <script src="js/directives/draggable-dashboard.js" type="text/javascript"></script>
  <script src="js/services/dashboard.js" type="text/javascript"></script>
  <script src="js/services/dashboard-widgets.js" type="text/javascript"></script>
  <script src="js/controllers/dashboard.js" type="text/javascript"></script>
  <script src="js/controllers/select-widget-modal.js" type="text/javascript"></script>
</head>
<body ng-controller="dashboardController as ctrl">

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Select a widget to add</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="item in items">
        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item.name }}</a>
      </li>
    </ul>
    Selected: <b>{{ selected.item.name }}</b>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

<div id="left-wrapper">
  !
</div>
<div id="right-wrapper">
  <div class="container-fluid main">
    <h1>Dashboard</h1>
    <div>
      <div class="dashboard-container">
        <!--<div class="dashboard">
          <div class="widget-container w-{{ ctrl.getWidget(widget.id).width }} h-{{ ctrl.getWidget(widget.id).height }}" widget-pos="{{widget.pos}}" widget-index="{{$index}}" widget-id="{{widget.id}}" ng-repeat="widget in ctrl.widgets track by $index">
            &lt;!&ndash;<div class="widget"></div>&ndash;&gt;
            <div class="number">{{$index}}</div>
            <div class="remove-widget" ng-click="ctrl.removeWidget($event)">x</div>
          </div>
        </div>-->
        <draggable-dashboard elements="ctrl.widgets" on-drag-and-drop-positioned="ctrl.saveWidgets"></draggable-dashboard>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-small" ng-click="ctrl.addWidget()">Add a widget</button>
      <button class="btn btn-small" ng-click="ctrl.restoreDefaults()">Restore Defaults</button>
      <button class="btn btn-small" ng-click="ctrl.removeAll()">Remove All</button>
    </div>
  </div>
</div>
</body>
</html>