<div class="dashboard">
  <div class="widget-container w-{{ getWidget(widget.id).width }} h-{{ getWidget(widget.id).height }}"
       widget-pos="{{widget.pos}}" widget-index="{{$index}}" widget-id="{{widget.id}}" ng-repeat="widget in elements track by $index">
    <!--<div class="widget"></div>-->
    <div class="number">{{$index}}</div>
    <div class="remove-widget" ng-click="">x</div>
  </div>
</div>
<!--
<div ng-repeat="widget in elements track by $index">
  {{$index}}
</div>-->
